<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Ninjas </title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
</head>
<body>
   <table class = 'ninjas'>
      <thead> Ninjas </thead>
         <tr>
            <td> First Name: </td>
            <td> Last Name: </td>
            <td> Age: </td>
         </tr>
         {%for ninja in ninjas%}
            <td>{{ninja.first_name}}</td>
            <td>{{ninja.last_name}}</td>
            <td>{{ninja.age}}</td>
         {%endfor%}
         


   </table>

</body>
</html>