<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Playgrounds</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<style>
h1 {
   text-align: center;
}
.block {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.box {
   background-color: #9fc5f8;
   border: 2px solid black;
   width: 100px;
   height: 100px;
   margin: 20px;
   
}
</style>

<body>
   <h1> Welcome </h1>
   <div class="block">
      {% for x in range(0,times): %}
      <div class = 'box' style="background-color: {{color}}"></div>
      {% endfor %}
   </div>
</body>
</html>