<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Checkerboard</title>
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>


<body>
   <h1> ** Checkerboard ** </h1>

      <table>
         {%for i in range(columns):%}
         <tr>
            {% for j in range(rows):%}
            <td class ='color{{  (i+j)%2+1  }}' ></td>
            {%if i == 1%}
            <style>
               .color1 {
                  background-color: {{color1}};
               }
               .color2 {
                  background-color: {{color2}};
               }
            </style>
            {%endif%}
            {% endfor %}

         </tr>

         {% endfor %}
         
      </table>
</body>
</html>