<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Counter</title>
</head>
<style>
   body {
      text-align: center;
   }
   #submit_button {
      background-color: blue;
      color: white;
      height: 50px;
      width: 100px;
   }
   #reset_button {
      background-color: red;
      color: white;
   }
   
</style>
<body>
   <h1> Counter </h1>
   <form action='/counter' method='post'>
      <h3> You have been here {{session['clicked']}} times!</h3>
      <input id =submit_button type="submit" name = 'clicked' Value = 'Add 2 visits'> 
      <input id = reset_button type="submit" name = 'clicked' value="Reset">
   </form>
   </body>
</body>
</html>